# Understand The Data

In [ ]:
1. Understanding data is the first step in Data Science/ML projects.
2. This is the data of people, who took insurance.
3. Performing steps in this file:
    
    1. Load Data
    2. Columns Details
    3. Data Dimension
    4. Checking Null Values
    5. Data Types Of Each Column

### 1. Load Data

In [1]:
import pandas as pd

data = pd.read_csv('..\Linear_Regression\Data\insurance.csv')
display(data.head())

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### 2. Columns Details

In [2]:
# Print column names
print(data.columns)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [ ]:
# Details of all columns:

=> age: age of primary beneficiary.
    
=> sex: insurance contractor gender.
    
=> bmi: body mass index providing an understanding of body, weights that are relatively high or low relative to height,
        objective index of body weight (kg /m^2) using the ratio of height to weight, ideally 18.5 to 24.5
        
=> children: Number of children covered by health insurance / Number of dependents.
    
=> smoker: Smokers.
    
=> region: The beneficiary's residental area in the USA.

### 3. Data Dimension

In [3]:
print(data.shape)

# print(len(data.index), len(data.columns))

(1338, 7)

In [ ]:
=> Data have 1338 records(rows).
=> And 7 columns.

### 4. Checking Null Values

In [4]:
# Checking Null values in each column.
print(data.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [5]:
# Checking % of Null values in each column.
print(data.isnull().mean()*100)

age         0.0
sex         0.0
bmi         0.0
children    0.0
smoker      0.0
region      0.0
charges     0.0
dtype: float64

In [ ]:
=> No Null values in the data, perfect.

### 5. Data Types Of Each Column

In [6]:
print(data.dtypes)

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

### Note:

In [ ]:
1. Now move to data preprocessing.
2. First will do categorical handling.
3. And second, will move to the Label encoding part.